<!DOCTYPE html>
        <html>
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="css/style.css">
          <link rel="shortcut icon" href="img/shortcut.png" type="image/x-icon">
          <title>Loong</title>
        </head>
        <body>
            <div style="align-items: center; justify-content: center; flex-direction: column;">
                <h3> Account Verification </h3>
                <br>
                <p> Hi! "{username}" Thanks for choosing {project_name}, please
                click on the link below to verify your account</p>
        <br>
                <a style="display:block; width:300px; margin-top:1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;"
                 href={link}>
                    Verify your email
                <a>
        <br>
                <p style="display:block;margin-top:1rem;">If you did not register for LXPay,
                please kindly ignore this email and nothing will happen. Thanks<p>
            </div>
        </body>
        </html>
